.gradient-custom {
    /* fallback for old browsers */
    background: #138fe2;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right bottom, rgb(17, 173, 184), rgb(18, 126, 199));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right bottom, rgb(23, 114, 175), rgb(21, 125, 151))
  }